<body>    
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h1 class="text-center">SPMI</h1>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center">Sistema de postulación a movilidad internacional</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col">
                <p>
                    Bienvenido al sistema de postulación a movilidad internacional para las distintas universidades de Chile. 
                    Este proyecto es completamente ficticio y no busca ser implementado como "sistema global" actualmente, ya que es personal
                    para demostrar mis conocimientos en distintas lógicas y lenguajes.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col">
                <p>
                    Puedes darle click al siguiente botón para ver la pantalla de login, se rige bajo la característica de servir tanto para 
                    administradores como para estudiantes, enviando a cada rol hacia su respectiva opción.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="<%= new_user_session_path %>" class="btn btn-primary w-100">Inicia sesión</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col">
                <p>
                    También puedes registrarte como un alumno en el siguiente botón
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="<%= new_user_session_path %>" class="btn btn-primary w-100">Registrate</a>
            </div>
        </div>
    </div>

</body>